* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightcyan;
  margin-left: 16px;
}

.header {
  font-size: 40;
  text-align: center;
}

.img {
  display: block;
  margin: auto;
  
}



span {
  font-weight: bold;

}



